* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

/* just for check */
/* div{
    border: 2px solid grey;
} */
.rating-stars {
    color: rgb(255, 217, 0);
}



/* product item */
.product {
    max-width: 300px;
    ;
    margin: auto;
    margin-bottom: 20px;
}

.product-small img {
    max-width: 110px;
}


/* image sizing */
img {
    width: 306px;
    ;
    height: 260px;
}

/* login box */
.login-box {
    /* height: 300px; */
    background: linear-gradient(rgb(16, 78, 16), black);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(142, 138, 138, 0.953);
}

.login-input {
    background: transparent;

    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.login-input:hover {
    background-color: #eae7e7;
}

.account {
    color: black !important;
    text-decoration: none;
}

.success-icon {
    font-size: 15rem;
    line-height: 1;
    padding-bottom: 20px;
    color: rgba(18, 202, 82, 0.875);
}

.success {
    background: linear-gradient(rgb(10, 50, 3), rgb(53, 44, 44));
}

.order-text {
    color: white;
    font-size: larger;
}



/*failure */

.failure-icon {
    font-size: 15rem;
    line-height: 1;
    padding-bottom: 20px;
    color: rgba(235, 86, 56, 0.875);
}

/* footer style */
.footer-item ul {
    /* list-style: circle; */
    list-style: none;
    padding-left: 0px;
}

.footer-item a {
    text-decoration: none;
    color: white;
}

.footer-item a:hover {
    text-decoration: underline;
    color: #ccc;
}

.footer-input {
    border: none;
    border : 1px solid yellow;
    color: black;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.footer-btn {
    border: none;

    background: yellow;
    
color:black;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.footer-item h5{
    color:rgb(152, 163, 163);
    
}

.footer-btn:hover{

border: 1px solid white;
color: rgb(239, 232, 232);
background: rgb(39, 39, 6);
}


/* navbar breadcum */
.breadcrumb {
    background: #eae7e7;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #000;

}



/* cart */
.cart-item {
    border: 2px solid grey;
}

.order {
    border: 2px solid grey;
}



/* caarousel */
.carousel-item img {
    height: 650px;

    margin-bottom: 10px;
}

@media screen and (max-width:500px) {
    .carousel-item img {
        height: auto;




    }
}

.toast {
    position: fixed;
    top: -50px;
}

.toast.show {
    top: 55px;
}


/* cart */
.cart-item input {
    margin: 5px;

}

.form-control.is-valid, .was-validated .form-control:valid {
    background-image: none;
}


/* product design  */
.color-btn {
    /* padding: 10px; */
    margin: 5px;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}

.color-btn i {
    opacity: 0;
}

.btn-check:checked+.color-btn i {
    opacity: 1;
}


/* accordion */
.accordion-button:not(.collapsed) {
    color: grey;
    background: #000;
}

.accordion-button {
    background: #ccc;
    padding: 10px;

}

.accordion-body {
    font-size: 15px;
    color: grey;

}



/* my account  */

.myaccount li a {
    color: white;
}

.dropdown-menu {
    margin-top: 0.5rem;
    background: black;
}



.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: rgb(16, 16, 16);
    background: white;
}

.search-btn {
    border-radius: 0;
    outline: none;
    /* margin-left: 0; */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.search-input {
    border-radius: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

/* cart style */
.cart-badge {
    position: relative;
    top: -11px;
    left: -5px;
}

.badge {
    font-size: 0.6rem;
}

.card-product {
    border: 2px solid rgb(208, 202, 202);
    margin: 15px 5px;
    position: relative;

}

.card-product:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.liked, .like {
    top: 10px;
    left: 10px;
    font-size: 2rem;
    color: #000;
    z-index: 10;

}

.liked {
    opacity: 0;
    z-index: 11;
}


.like:hover {
    /* color: red; */
    opacity: 0;
}

.liked:hover {
    /* z-index:2 ; */
    opacity: 1;
    color: yellow
}

@media only screen and (max-width:500px) {
    .footer-direction {
        flex-direction: column;
    }
}